.App {
  height: 100vh;
  background-color: ghostwhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.App-Empty{
	display: flex;
    flex-direction: column;
    padding: 1em;
    align-items: center;
}
.App-Empty img{
	width: 4em;
}